body{
    font-family:sans-serif;
}

.container{
    margin:0 auto;
}

.header-title{
    display:inline-block;
    font-size:24px;
    font-weight:bold;
}

.main-navigation{
    display:inline-block;
    vertical-align: middle;
}

.main-navigation__item{
    display:inline-block;
    padding:10px;
}

.main-navigation__item a{
    text-decoration: none;
    font-size:15px;
    padding: 0px 0px 13px;
    color:#20292f;
}

.main-navigation__item a:hover{
    color:#71818c;
}
