@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Black.eot');
    src: url('../fonts/Rubik/static/Rubik-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-Black.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-Black.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-BlackItalic.eot');
    src: url('../fonts/Rubik/static/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-BlackItalic.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-BlackItalic.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Bold.eot');
    src: url('../fonts/Rubik/static/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-Bold.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-BoldItalic.eot');
    src: url('../fonts/Rubik/static/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-BoldItalic.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-BoldItalic.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-ExtraBold.eot');
    src: url('../fonts/Rubik/static/Rubik-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-ExtraBold.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-ExtraBold.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-ExtraBoldItalic.eot');
    src: url('../fonts/Rubik/static/Rubik-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Italic.eot');
    src: url('../fonts/Rubik/static/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-Italic.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-Italic.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Light.eot');
    src: url('../fonts/Rubik/static/Rubik-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-Light.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-LightItalic.eot');
    src: url('../fonts/Rubik/static/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-LightItalic.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-LightItalic.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Medium.eot');
    src: url('../fonts/Rubik/static/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-Medium.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-MediumItalic.eot');
    src: url('../fonts/Rubik/static/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-MediumItalic.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-MediumItalic.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Regular.eot');
    src: url('../fonts/Rubik/static/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-Regular.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-SemiBold.eot');
    src: url('../fonts/Rubik/static/Rubik-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-SemiBold.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-SemiBold.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-SemiBoldItalic.eot');
    src: url('../fonts/Rubik/static/Rubik-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik/static/Rubik-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Rubik/static/Rubik-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Rubik/static/Rubik-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


/*Core style*/
body{
    font-family:sans-serif;
    margin:0;
}

.container{
    margin:0 auto;
    display: flex;
    justify-content: space-around;
}
.section-subtitle{
    font-size:12px;
    color:orange;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section-title{
    font-size:36px;
    color:#333;
    font-weight:600;
    line-height:47px;
    margin-top:5px;
}
.section-description{
    color: #666666;
    line-height:30px;
    font-size:14px;
    margin-top:0px;
}

/*header section*/
.header-title{
    display:inline-block;
    font-size:24px;
    font-weight:bold;
}
.main-header{
    position:fixed;
    background-color: #FFF;
    width:100%;
    z-index:10;
    box-shadow:0px 0px 2px 2px #d1cece
}

.main-navigation{
    display:inline-block;
    vertical-align: middle;
}

.main-navigation__item{
    display:inline-block;
    padding:10px;
}

.main-navigation__item a{
    text-decoration: none;
    font-size:15px;
    padding: 0px 0px 13px;
    color:#20292f;
}

.main-navigation__item a:hover{
    color:#71818c;
}